<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
  </head>
  <body>
    <h1><%= kindOfDay %></h1>

    <% if (items.length === 0) { %>
    <h3>Your list is empty.</h3>
    <% } else { %>
    <ul>
      <% for ( let i = 0; i < items.length; i++) { %>
      <li><%= items[i] %></li>
      <% } %>
    </ul>
    <% } %>

    <h4>Add new item to the list:</h4>
    <form action="/" method="post">
      <input type="text" name="newListItem" />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
